@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');


:root{
	--blue: hsl(246, 80%, 60%);
	--lightOrange: hsl(15, 100%, 70%); 	/*work*/
	--softBlue: hsl(195, 74%, 62%);	/*play*/
	--lightRed: hsl(348, 100%, 68%);	/*study*/
	--limeGreen: hsl(145, 58%, 55%);	/*exercise*/
	--violet: hsl(264, 64%, 52%);		/*social*/
	--softOrange: hsl(43, 84%, 65%);	/*selfcare*/

	--veryDarkBlue: hsl(226, 43%, 10%);
	--darkBlue: hsl(235, 46%, 20%);
	--desaturatedBlue: hsl(235, 45%, 61%);
	--paleBlue: hsl(236, 100%, 87%);
	--white: hsl(100, 100%, 100%);
}

*, html, body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif; /*300, 400, 500*/
}

body{
	min-height: 100vh;
	max-width: 100vw;
	background-color: var(--veryDarkBlue);
	padding: 4rem 1rem;
}

.mainContainer{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.cardBg{
	min-width: 20rem;
	background-color: var(--darkBlue);
	border-radius: 1rem;
}

.cardFg{
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 2rem;
	padding: 2rem;
	background-color: var(--blue);
	color: var(--paleBlue);
}
.cardFg >img{
	width: 4rem;
	border: 3px solid white;
	border-radius: 50%;
}
h1, h2, h3{
	color: var(--white);
	font-weight: 300;
}
h3{
	font-weight: 400;
}

.timeFrame{
	display: flex;
	text-align: center;
	padding: 1.5rem;
	color: var(--desaturatedBlue);
}
.timeFrame > span{
	padding: 1rem;
	cursor: pointer;
}
.timeFrame > span:hover{
	color: var(--white);
}


.active{
	color: var(--white);
}

.activitiesCards{
	display: flex;
	flex-direction: column;
}
.activityContainer{
	min-width: 20.5rem;
	height: 10rem;
	margin-top: 2rem;
	border-radius: 1rem;
	position: relative;
	cursor: pointer;
}
.activityContent{
	background-color: var(--darkBlue);
	position: absolute;
	bottom: 0px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	padding: 1.5rem;
	border-radius: 1rem;
}
.activityContent:hover{
	background-color: var(--desaturatedBlue);
}

.title{
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--paleBlue);
}
.title > span{
	letter-spacing: .25rem;
	font-size: 1.5rem;
	font-weight: 500;
	cursor: pointer;
}
.title > span:hover{
	color: var(--white);
}
.time{
	display: flex;
	justify-content: space-between;
	color: var(--paleBlue);
}



.work{
	background: url('images/icon-work.svg');
	background-position: top right;
	background-repeat: no-repeat;
	background-color: var(--lightOrange);.
}

.play{
	background: url('images/icon-play.svg');
	background-color: var(--softBlue);
	background-position: top right;
	background-repeat: no-repeat;
}
.study{
	background: url('images/icon-study.svg');
	background-color: var(--lightRed);
	background-position: top right;
	background-repeat: no-repeat;
}
.exercise{
	background: url('images/icon-exercise.svg');
	background-color: var(--limeGreen);
	background-position: top right;
	background-repeat: no-repeat;
}
.social{
	background: url('images/icon-social.svg');
	background-color: var(--violet);
	background-position: top right;
	background-repeat: no-repeat;
}
.selfCare{
	background: url('images/icon-self-care.svg');
	background-color: var(--softOrange);
	background-position: top right;
	background-repeat: no-repeat;	
}


@media (min-width: 768px){
	body{
		height: 100vh;
		padding: 0 2rem;
	}
	.mainContainer{
		flex-direction: row;
		column-gap: 2rem;
	}
	.cardBg{
		min-width: 13rem;
	}
	.cardFg{
		flex-direction: column;
		align-items: flex-start;
		row-gap: 1rem;
	}
	.timeFrame{
		flex-direction: column;
		text-align: left;
	}
	.activityContainer{
		min-width: 13rem;
		height: 11rem;
	}
	.activitiesCards{
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 2rem;
	}
	.time{
		flex-direction: column;
	}
}




@media (min-width: 1024px){
	body{
		height: 100vh;
		padding: 0 2rem;
	}
	.mainContainer{
		flex-direction: row;
		column-gap: 2rem;
	}
	.cardBg{
		min-width: 15rem;
	}
	.cardFg{
		flex-direction: column;
		align-items: flex-start;
		row-gap: 1rem;
	}
	.timeFrame{
		flex-direction: column;
		text-align: left;
	}
	.activityContainer{
		min-width: 13rem;
		height: 11rem;
	}
	.activitiesCards{
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 1.5rem;
	}
	.time{
		flex-direction: column;
	}
}



@media (min-width: 1440px){
	body{
		height: 100vh;
		padding: 0 8rem;
	}
	.mainContainer{
		flex-direction: row;
		column-gap: 2rem;
	}
	.cardBg{
		min-width: 15rem;
	}
	.cardFg{
		flex-direction: column;
		align-items: flex-start;
		row-gap: 1rem;
	}
	.timeFrame{
		flex-direction: column;
		text-align: left;
	}
	.activityContainer{
		min-width: 15rem;
		height: 12rem;
	}
	.activitiesCards{
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 2rem;
	}
	.time{
		flex-direction: column;
	}
}