@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/*400 700*/
/*

	*/

:root{
	--BgHBtn: hsl(0, 0%, 95%);
	--para: hsla(0, 0%, 100%, 0.75);
	--brightOrange: hsl(31, 77%, 52%);
	--white:  hsl(100, 100%, 100%);
	--darkCyan: hsl(184, 100%, 22%);
	--veryDarkCyan: hsl(179, 100%, 13%);
}

html, body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1{
	font-family: 'Big Shoulders Display', cursive;
	padding: 1rem 0;
	color: var(--BgHBtn);
	letter-spacing: 0.08rem;
}
p{
	font-family: 'Lexend Deca', sans-serif;
	font-size: 15px;
	color: var(--para);
	letter-spacing: 0.08rem;
}
.flexContainer{
	display: flex;
	background-color: var(--BgHBtn);
	align-items: center;
	justify-content: center;
	height: auto;
}

.cardsContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 20rem;
}
.card{
	padding: 3rem;
}

.card1{
	border-radius: 1rem 1rem 0 0;
	margin-top: 4rem;
	background-color: var(--brightOrange);
}
.card2{
	background-color: var(--darkCyan);
}
.card3{
	background-color: var(--veryDarkCyan);
	border-radius: 0  0 1rem 1rem;
	margin-bottom: 4rem;
}

a{
	text-decoration: none;
	display: inline-block;
	margin: 1.5rem 0;
	padding: 1rem 2rem;
	border: 0.15rem solid var(--BgHBtn);
	border-radius: 3rem;
	background-color: var(--BgHBtn);
	color: var(--brightOrange);
	font-size: 15px;
	font-family: 'Lexend Deca', sans-serif;
}
a:hover{
	background: transparent;
	color: var(--BgHBtn);
}



@media (min-width: 768px){
	.flexContainer{
		height: 100vh;
	}
	.card{
		padding: 2rem;
	}
	.cardsContainer{
		flex-direction: row;
		width: 45rem;
	}
	.card1{
		border-radius: 1rem 0 0 1rem;
	}
	.card2{
		margin-top: 4rem;
	}
	.card3{
		margin: 4rem 0 0 0;
		border-radius: 0 1rem 1rem 0;
	}
	a{
		padding: 0.5rem 2rem;
	}

}



@media (min-width: 1440px){
	.flexContainer{
		height: 100vh;
	}
	.card{
		padding: 3rem;
	}
	.cardsContainer{
		flex-direction: row;
		width: 55rem;
	}
	.card1{
		border-radius: 1rem 0 0 1rem;
	}
	.card2{
		margin-top: 4rem;
	}
	.card3{
		margin: 4rem 0 0 0;
		border-radius: 0 1rem 1rem 0;
	}
	a{
		padding: 0.5rem 2rem;
	}

}